[submodule "files/dot/.vim/bundle/vim-sensible"]
	path = files/dot/.vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule "files/dot/.vim/bundle/vim-surround"]
	path = files/dot/.vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "files/dot/.vim/vim-pathogen"]
	path = files/dot/.vim/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "files/dot/.vim/bundle/vim-fugitive"]
	path = files/dot/.vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "files/dot/.vim/bundle/syntastic"]
	path = files/dot/.vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "files/dot/.vim/bundle/python-mode"]
	path = files/dot/.vim/bundle/python-mode
	url = https://github.com/python-mode/python-mode.git
[submodule "files/dot/.oh-my-zsh"]
	path = files/dot/.oh-my-zsh
	url = https://github.com/robbyrussell/oh-my-zsh.git
