[user]
    name = Laurent Kislaire
    email = teebeenator@gmail.com
[push]
    default = simple
[github]
    user = architek
[core]
	excludesfile = ~/.gitignore
[alias]
	ll = log --pretty=format:"%C(yellow)%h%Cred%d %Creset%s%Cblue [%cn]" --decorate --numstat
	lld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=short
